$color-text: #888;


body {
    color: $color-text;
    line-height: (24/14);
    letter-spacing: (50/1000)*1em;
}

.card {
    text-align: center;

    .btn {
        text-align: right;

        a {
            text-decoration: none;
        }
    }
}